:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--darkGrayishBlue);
  color: var(--darkGrayishBlue);
}
.logo {
  width: 15%;
}

nav {
  width: 65%;
  display: flex;
  gap: 3rem;
  height: 82px;
}

nav li {
  list-style: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  line-height: 82px;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.cart_avatar {
  width: 20%;
  height: 30px;
  display: flex;
  gap: 2rem;
  justify-content: end;
}

.cart {
  cursor: pointer;
}

.avatar {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

.avatar:hover {
  border: 2px solid var(--orange);
}

nav li:hover {
  border-bottom: 3px solid var(--orange);
}

/* HAMBURGER MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 10%;
  display: none;
}

.menu div {
  background-color: var(--darkGrayishBlue);
  width: 30px;
  height: 3px;
}

.over {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.65);
  display: none;
}

.over.active {
  display: block;
}

.ham-menu {
  position: absolute;
  inset: 0 30% 0 0;
  background-color: var(--White);
  animation: menu 500ms ease-in-out;
}

.close {
  position: absolute;
  top: 1.4rem;
  left: 2rem;
}

.links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.links li {
  list-style: none;
  color: var(--VeryDarkBlue);
  font-weight: 700;
  text-transform: capitalize;
}

/* CART */
.cart-box {
  background-color: transparent;
  position: absolute;
  inset: 0;
  display: none;
}
.cart-modal {
  position: absolute;
  top: 20%;
  right: 10%;
  background-color: var(--White);
  width: 220px;
  height: 25vh;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  animation: cart 300ms ease-in-out;
  z-index: 2;
}

.cart-box.active {
  display: block;
}

.cart-modal h1 {
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.cart-modal .text {
  border-top: 2px solid var(--grayishBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

@keyframes menu {
  0% {
    transform: translateX(-50%);
    opacity: 0.7;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes cart {
  0% {
    transform: translate(-0%, -10%);
    opacity: 0;
  }

  100% {
    transform: translate(-0%, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  header {
    justify-content: start;
    border: none;
    padding: 1.5rem 2rem;
    gap: 1.5rem;
  }
  .logo {
    width: 60%;
    display: flex;
  }

  nav {
    display: none;
  }
  .cart_avatar {
    width: 40%;
  }

  .menu {
    display: flex;
  }

  .cart-modal {
    width: 95%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 300px;
    border-radius: 15px;
  }

  .cart-modal h1 {
    font-size: 20px;
    padding: 2rem 2rem;
  }

  @keyframes cart {
    0% {
      transform: translate(-50%, -10%);
      opacity: 0;
    }

    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
}
